# Exclude Pycharm idea
.idea/

# All data folders
**/data/*

# Add an exception for data_info_new.json, as it's necessary to decide the splits for CoOadTR
!CoOadTR/data/data_info_new.json
!CoOadTR/
!CoOadTR/data/

# Weight files
*.h5
